<!--<script type="module">-->
<!--    // Import the functions you need from the SDKs you need-->
<!--    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.9/firebase-app.js";-->
<!--    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.9/firebase-analytics.js";-->
<!--    // TODO: Add SDKs for Firebase products that you want to use-->
<!--    // https://firebase.google.com/docs/web/setup#available-libraries-->

<!--    // Your web app's Firebase configuration-->
<!--    // For Firebase JS SDK v7.20.0 and later, measurementId is optional-->
<!--    // 프론트 단에서 무조건 설정-->

<!--    // 사용자가 프로그램에 들어오는 순간 프론트 > fcm 에 토큰 요청.-->
<!--    // 키(사용자) = value(토큰)-->
<!--    // 백이 받아서 저장-->
<!--    const firebaseConfig = {-->
<!--        apiKey: "AIzaSyC9uDGrTM1rn7L1tWZjoEqgSjnPiw00Oo0",-->
<!--        authDomain: "dplus-6acf6.firebaseapp.com",-->
<!--        projectId: "dplus-6acf6",-->
<!--        storageBucket: "dplus-6acf6.appspot.com",-->
<!--        messagingSenderId: "1067487371917",-->
<!--        appId: "1:1067487371917:web:e625a7f6f353a1d3e678c4",-->
<!--        measurementId: "G-0LF37WH6LS"-->
<!--    };-->

<!--    // Initialize Firebase-->
<!--    const app = initializeApp(firebaseConfig);-->
<!--    const analytics = getAnalytics(app);-->
<!--</script>-->